.container{
    width: 20%;
    height: 20%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center;
    position: absolute;
    padding: 2%;
    margin: 2%;
}